.button1 {
    opacity: 0;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-name: slidein;
    animation-fill-mode: forwards;
}
.button2 {
    opacity: 0;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-name: slidein;
    animation-fill-mode: forwards;
}
.button3 {
    opacity: 0;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-name: slidein;
    animation-fill-mode: forwards;
}

@keyframes slidein {
    from {
        margin-right: 50px;
        opacity: 0;
    }
    to {
        margin-right: 10px;
        opacity: 1;
    }
}


.logo1{
    opacity: 0;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-name: Con-Icon;
    animation-fill-mode: forwards;
}
.logo2{
    opacity: 0;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-name: Con-Icon;
    animation-fill-mode: forwards;
}
.logo3{
    opacity: 0;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-name: Con-Icon;
    animation-fill-mode: forwards;
}


@keyframes Con-Icon{
    from {
        margin-top: 100px;
        opacity: 0;
    }
    to {
        margin-top: 0px;
        opacity: 1;
    }
}


.Icon-header {
    opacity: 0;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-name: Logo;
    animation-fill-mode: forwards;
}

@keyframes Logo {
    from {
        transform: rotate(180deg);
        opacity: 0;
    }
    to {
        transform: rotate(0deg);
        opacity: 1;
    }
}

body{
    animation-duration: 1s;
    animation-name: load;
    background-image:none;
}

@keyframes load{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}