@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat-Bold.woff);
}
body{
    margin: 0;
    font-family: Montserrat;
    background-color: rgb(28, 28, 28);
}
.menu{
    display: flex;
    justify-content: center;
    min-width: 630px;
    padding: 10px;
    background-color: rgb(26, 26, 26);
    border-bottom: solid  rgb(176, 176, 176) 1px;
}
.buttons{
    font-size: 20px;
    min-width: 481px;
}
.menu_button{
    display: inline-flex;
    padding: 10px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}
a:hover{
    background-color: rgb(222, 222, 222);
}